* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

header {
  height: 10%;
}

main {
  height: 90%;
}

.container {
  display: flex;
  height: 85vh;
  width: 85vh;
}

.row {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.cell {
  border: 1px solid black;
  height: 100%;
}
