* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

header {
  height: 10%;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
}

.container {
  display: flex;
  height: 85vh;
  width: 85vh;
}

.row {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.cell {
  border: 1px solid black;
  height: 100%;
}

.black-cell {
  background-color: black;
}

.modal {
  display: none;
  position: absolute;
}

.modal-visible {
  display: flex;
}

@media (orientation: portrait) {
  .container {
    height: 85vw;
    width: 85vw;
  }
}
