* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Verdana, sans-serif;
  font-size: 1.2em;
  height: 100%;
}

header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.clear-grid {
  margin-bottom: 10px;
}

.container {
  display: flex;
  height: 80vh;
  width: 80vh;
}

.row {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.cell {
  border: 1px solid black;
  height: 100%;
}

.black-cell {
  background-color: black;
}

.modal {
  display: none;
  position: absolute;
}

.modal-visible {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60%;
  top: 20vh;
  width: 80%;
}

.modal-visible p, .modal-visible input {
  margin-bottom: 10px;
}

@media (orientation: portrait) {
  .container {
    height: 80vw;
    width: 80vw;
  }
}
